<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Dinamico</title>
</head>
<body>
<h2>Titulo estatico</h2>
<section>
    <!-- imprimir elementos de una lista -->
    {%for item in data%}
    <p>{{item}}</p>
    {%endfor%}

    <!-- imprimir una lista de diccionarios  -->
    {%for item in data%}
    <p>{{item}}</p>
    {%endfor%}

</section>
</body>
</html>